<!DOCTYPE html>
<html>
<head>
    <title>Consent Form</title>
</head>
<body>
<h1>Agreement to Participate in Research</h1>

<h2>Responsible Investigators: Sin Lee Loh & Sean Laraway</h2>

<h2>Title of Study: Consumer Perceptions of Price and Value in E-Commerce</h2>

<ol>
<li>You have been asked to participate in a study investigating the perception of
    price and value when shopping on the web.</li>
<li>You will be asked to view an e-commerce website selling chairs. You are
required to estimate the amount ONE chair on the screen costs, and type in
the amount in the text box provided. At the conclusion of the study, you will
be asked some basic demographic questions.</li>
<li>Absolute anonymity of data and records will be maintained. Although the
results of this study may be published, no disclosure of data that will identify
specific participants stored after the conclusion of the study.</li>
<li>Potential risks, discomforts, or adverse effects on your physical, mental, and
emotional well-being are minimal in this study.</li>
<li>In return for participation in this study, you will earn course credit from your
instructor. This study should take no more than 45 minutes.</li>
<li>Questions about this research may be addressed to Sin Lee Loh at
sinlee@gmail.com. Complaints about the research may be presented to
Ronald Rogers, PhD, Chair of the Psychology Department, (408) 924-5652.
Questions about a research subjects’ rights, or research-related injury may
be presented to Pamela Stacks, Ph.D., Associate Vice President of Graduate
Studies and Research, at (408) 924-2427.</li>
<li>No service of any kind, to which you are otherwise entitled, will be lost or
jeopardized if you choose not to participate in this study.</li>
<li>Your consent is being given voluntarily. If you do not wish to participate, or
feel uncomfortable at any time, you may discontinue participation without
consequence. If you decide to participate in the study, you are free to
withdraw at any point during the study without any negative effect on your
relations with San Jose State University.</li>
<li>At the time you signed the consent form, you received a copy of it for your
records, signed and dated by the investigator.</li>
<li>By clicking "I Agree" below you acknowledge that you understand the
information above and are ready to participate in this study</li>
</ol>

<form action="?" method="post"> {% csrf_token %}
    <button type="submit" value="confirm">I Agree</button>
</form>

</body>
</html>