<!DOCTYPE html>
<html>
<head>
    <title>Survey in progress...</title>
</head>
<body>
  <div id="heading"></div>
  <div id="main">
      <div id="sidebar">

      </div>
      <div id="content">
          {% if num_images == 2 %}
              <img class="two-images" href="" />
              <img class="two-images" href="" />
          {% elif num_images == 3 %}
              <img class="three-images" href="" />
              <img class="three-images" href="" />
              <img class="three-images" href="" />
          {% endif %}
          <form method="post" action="?">
              <label for="dollar-value">These {{ num_images }} chairs have the same price.<br />
                  How much do you think one of these items costs? Please enter a value between 100 - 900.</label>
              $<input type="text" id="dollar-value" name="dollar-value">.00
              <input type="submit" name="enter" value="Enter">
          </form>
      </div>
  </div>
</body>
</html>