<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <title>Survey in progress...</title>
</head>
<body>
  <div id="heading">
      <img src="{% static "header.png" %}" />
  </div>
  <div id="main">
      <div id="sidebar">
          <img src="{% static "sidebar.png" %}" />
      </div>
      <div id="content" class="{{ image_set.distance }} {{ num_images }}">
          {% if num_images == "two" %}
              <img class="two-images" src="{{ image_set.imageOne.url }}" />
              <img class="two-images" src="{{ image_set.imageTwo.url }}" />
          {% elif num_images == "three" %}
              <img class="three-images" src="{{ image_set.imageOne.url }}" />
              <img class="three-images" src="{{ image_set.imageTwo.url }}" />
              <img class="three-images" src="{{ image_set.imageThree.url }}" />
          {% endif %}
          <form method="post" action="?"> {% csrf_token %}
              <label for="dollar-value">These {{ num_images }} chairs have the same price.<br />
                  How much do you think one of these items costs? Please enter a value between 100 - 900.</label>
              $<input type="text" id="dollar-value" name="dollar-value">.00
              <input type="hidden" name="image-set-id" value="{{ image_set.id }}">
              <input type="submit" name="enter" value="Enter">
          </form>
      </div>
  </div>
</body>
</html>